<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我发布的</title>
    <script language="JavaScript" th:src="@{/static/JS/vue.js}"></script>
    <script language="JavaScript" th:src="@{/static/JS/axios.min.js}"></script>
    <script language="JavaScript" th:src="@{/static/JS/jquery-1.7.2.js}"></script>
    <script language="JavaScript" th:src="@{/static/JS/mainTop.js}"></script>
    <script language="JavaScript" th:src="@{/static/JS/myTravel.js}"></script>
    <link rel="stylesheet" th:href="@{/static/CSS/mainTop.css}">
    <link rel="stylesheet" th:href="@{/static/CSS/myTravels.css}">
</head>
<body>
<div id="top_div">
    <div id="centerDiv" th:onclick="jumpMain()">欢迎来到旅游信息发布系统</div>
    <div id="allSelect"><input type="text" id="selectInput"><img src="http://127.0.0.1:8080/IMG/img_1.png" id="selectImg" th:onclick="selectByText()"></div>
    <div id="userDiv"><label id="usercharName" th:text="${session.user.charname}"></label><img id="headImg" th:src="@{/static/IMG/img.png}" th:onclick="display()">
    </div>
    <div id="underDiv">
        <li class="liDiv" th:onclick="toAdd()">发布信息</li>
        <li class="liDiv" th:onclick="toMyTravel()">我发布的</li>
        <li class="liDiv" th:onclick="exit()">注销登录</li>
    </div>
</div>

<div id="mainDiv">
    <div id="allList" >
        <table id="tableTravel"  v-for="(item,i) in travelList">
            <tr>
                <td id="realImgTd" rowspan="2"><img :src="item.img.adress" id="realImg"></td>
                <td colspan="2"> <label id="titleTd" @click="travelDetail(item.id)">{{item.title}}</label></td>
                <td><label style="font-size: 16px;font-family: 'Arial';cursor: pointer" @click="clickUpdate(item.id)">修改</label></td>
                <td><img src="http://127.0.0.1:8080/IMG/del.jpg" @click="clickDelete(item.id)"></td>
            </tr>
            <tr>
                <td ><label id="regionTd">{{item.region}}</label></td>
                <td ><label id="dateTd">发布时间:{{item.date}}</label></td>
            </tr>
        </table>
    </div>
    <div id="bottomDiv"><a @click="subTravelPage()" id="subBut">上一页</a><a @click="addTravelPage()" id="addBut">下一页</a></div>
</div>
</body>
</html>