<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册账号</title>
    <script th:src="@{/static/JS/jquery-1.7.2.js}"></script>
    <script language="JavaScript" th:src="@{/static/JS/vue.js}"></script>
    <script language="JavaScript" th:src="@{/static/JS/axios.min.js}"></script>
    <script language="JavaScript" th:src="@{/static/JS/regist.js}"></script>
    <link rel="stylesheet" href="../../static/CSS/regist.css">
    <link rel="stylesheet" th:href="@{/static/CSS/regist.css}">
</head>
<body>
<div id="bigRegistDiv">
<div id="formid">
<form th:action="@{/user/registered}" method="post" onsubmit="return checkAll()">
    <h1 id="title">注册账号</h1>
    <div class="registDiv">
        <label class="registText">请输入用户名：</label>
        <input  class="registInput" type="text" name="userName"  id="userName"  onblur="checkName()">
        <div class="errDiv">
        <label class="errMess" id="errName" ></label>
        </div>
    </div>
    <div class="registDiv">
        <label class="registText"> 请输入密码：&#8195</label><input class="registInput" type="password" name="passWord" id="passWord" onblur="checkPwd()">
        <div class="errDiv">
        <label class="errMess" id="errPwd"></label>
        </div>
    </div>
    <div class="registDiv">
        <label class="registText"> 再次输入密码：</label><input class="registInput" type="password" name="repassWord" id="rePassWord" onblur="reCheckPwd()">
        <div class="errDiv">
            <label class="errMess" id="reErrPwd"></label>
        </div>
    </div>
    <div class="registDiv">
        <label class="registText"> 请输入姓名：&#8195</label><input class="registInput" type="text" name="charN" id="charName" onblur="checkCharName()">
        <div class="errDiv">
            <label class="errMess" id="errCharName"></label>
        </div>
    </div>
    <div class="registDiv">
        <label class="registText">请输入验证码：</label><input class="registInput" name="VerifyCode" type="text" id="verifyCodeImg" placeholder="" onblur="checkVerifyCode()"/>
        <div class="errDiv">
            <label class="errMess" id="errVerifyCode"></label>
        </div>
    </div>
    <div class="registverifyCode">
        <img alt="单击图片刷新！" id="imgVerifyCode" class="registCode" th:src="@{/verifyCode.jpg}" th:onclick="this.src='verifyCode.jpg?d='+ Math.random()">
    </div>
        <div class="registDiv">
                  <input type="submit" id="formidSubmit" value="注册">
    </div>

  </form>
</div>
</div>
</body>

</html>