<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script language="JavaScript" th:src="@{/static/JS/mainTop.js}"></script>
    <script language="JavaScript" th:src="@{/static/JS/jquery-1.7.2.js}"></script>
    <script language="JavaScript" th:src="@{/static/JS/toAdd.js}"></script>>
    <link rel="stylesheet" th:href="@{/static/CSS/mainTop.css}">
    <link rel="stylesheet" th:href="@{/static/CSS/toAdd.css}">

    <meta charset="UTF-8">
    <title>添加旅游信息</title>
</head>
<body>
<div id="top_div">
    <div id="centerDiv" th:onclick="jumpMain()">欢迎来到旅游信息发布系统</div>
    <div id="allSelect"><input type="text" id="selectInput"><img src="http://127.0.0.1:8080/IMG/img_1.png" id="selectImg" th:onclick="selectByText()"></div>
    <div id="userDiv"><label id="usercharName" th:text="${session.user.charname}"></label><img id="headImg" th:src="@{/static/IMG/img.png}" th:onclick="display()">
    </div>
    <div id="underDiv">
        <li class="liDiv" th:onclick="toAdd()">发布信息</li>
        <li class="liDiv" th:onclick="toMyTravel()">我发布的</li>
        <li class="liDiv" th:onclick="exit()">注销登录</li>
    </div>
</div>
<div id="addMainDiv">
<form th:action="@{/add}" method="post" enctype="multipart/form-data" onsubmit="return addCheckAll()">
    <div class="addFormDiv1">
        <label class="addTextDiv">请输入景点名: </label><input type="text" name="title" class="addInput" onblur="checkTitle()" id="realAddTitle">
        <div class="errAddTitle">
            <label class="errMess" id="errTitle"></label>
        </div>
    </div>
    <div class="addFormDiv">
         <label class="addTextDiv"> 请输入地区: </label><input type="text" name="region" class="addInput" id="addRegionInput" onblur="checkRegion()">
        <div class="errAddTitle">
            <label class="errMess" id="errAddInput"></label>
        </div>
    </div>
    <div class="addFormDiv">
        <label id="addTextTwoDiv"> 请输入简介: </label><textarea  name="context" id="addTextInput" onblur="checkContext()"></textarea>
        <div class="errAddTitle" style="vertical-align: top">
            <label class="errMess" id="errContext"></label>
        </div>
    </div>
    <div class="addFormDiv">
        <div class="errAddTitle">
            <label class="errMess" id="errAddImg"></label>
        </div>
       <div id="pgnText"> <label class="addTextDiv">请添加图片：</label> </div>
        <div id="result">
       <img src="http://127.0.0.1:8080/travel/static/IMG/img3.jpg" id="filePng">
        <input type="file"  name="photo" id="file" onblur="checkAddImg()" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg">
        </div>
    </div>
    <div class="addFormDiv">
    <input type="submit" id="addFormBtn">
    </div>
</form>
</div>
</body>
</html>