<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/update}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="travelId" th:value="${session.travel.id}">
    title : <input type="text" name="title" th:value="${session.travel.title}"><br>
    region : <input type="text" name="region" th:value="${session.travel.region}"><br>
    context : <input type="text" name="context" th:value="${session.travel.travelDetail.context}" th:colspan="4"></input><br>
    <img th:src="@{|/static/IMG/${session.travel.img.adress}|}">
    <input type="file" name="photo"  ><br>
    <input type="submit"><br>
</form>
</body>
</html>