html{
    height: 100%;
}
*{margin:0;padding:0}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}

div{

    float: left;
}




iframe{
    width:100%;
    float:left;
    border:0px;
}

#mainDiv{
    margin-top: 50px;
    width: 60%;
    margin-left: 20%;
}

#allList{
    width: 100%;
    text-align: center;
}
#tableTravel{
    width: 100%;
    line-height: 15%;
}

#realImgTd{
    width: 40%;
    height: 30%;
}

#realImg{
    width: 100%;
    height: 100%;
}

#titleTd{
    float: left;
    margin-top: 3%;
    font-size: 40px;
    font-family: "Arial Black";
    margin-left: 35%;
    margin-bottom: 0;
    cursor: pointer;
}
#dateTd{

    margin-left: 40%;
}
#regionTd{

    margin-left: 30%;
}

#bottomDiv{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin-top: 30px;
}

#addBut{
    font-size: 16px;
    cursor: pointer;
}
#subBut{
    font-size: 16px;
    cursor: pointer;
}





